@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1644400255689') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tongji:before {
    content: "\e61b";
}

.icon-tongji1:before {
    content: "\e609";
}

.icon-order:before {
    content: "\e640";
}

.icon-combo:before {
    content: "\e604";
}

.icon-member:before {
    content: "\e60d";
}

.icon-food:before {
    content: "\e61c";
}

.icon-category:before {
    content: "\e64c";
}

